
Paper/PLP_CPP_PAPER.aux
Paper/PLP_CPP_PAPER.bbl
Paper/PLP_CPP_PAPER.blg
Paper/PLP_CPP_PAPER.fdb_latexmk
Paper/PLP_CPP_PAPER.fls
Paper/PLP_CPP_PAPER.log
Paper/PLP_CPP_PAPER.out
Paper/PLP_CPP_PAPER.synctex.gz
Paper/_minted-PLP_CPP_PAPER/default-pyg-prefix.pygstyle
Paper/_minted-PLP_CPP_PAPER/gruvbox.pygstyle
Paper/_minted-PLP_CPP_PAPER/7F463F8308E95BC1615E2E976A60BD2E623B17BAF67BA4ED665551B29B7D1146.pygtex